@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #d00000;
  --secondary-color: #ffbd00;
  --accent1-color: #bb9457;
  --accent2-color: #eff7f6;

  --heading-font: "work sans", sans-serif;
  --paragraph-font: "work sans", sans-serif;

  --nav-background-color: hsl(216, 86%, 36%);
  --nav-link-color: #ffbd00;
  --nav-hover-link-color: #bb9457;
  --nav-hover-background-color: #eff7f6;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  padding: 25px;
  margin: 0px;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

h2{
    text-align: center;
}

nav {
	text-align: right;
    
}

.navigation {
	display: flex;
	list-style: none;
    /* display: inline-block; */
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	/* display: block; */
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}


header,main,footer,.grid{
  max-width: 840px;
  margin: 0 auto;
}

.hero{
  position:relative;
}

.hero img {
  width: 100%;
}
 
.hero h1{
position: absolute;
top: 20px;
width: 100%;
background-color: #ffffff78;
padding: 20px 0;
text-align: center;
}


.hero article{
  background-color: rgba(255,255,255,.35);
  position:absolute;
  top: 125px;
  left: 30px;
  right: 30px;
  color: #000;
}

.hero article img{
  float: right;
  margin: 10px;
  width: 200px;
}
 
.hero article p{
  color:black;
  font-size:16px;
  text-align: center;
}

article img {
  width: 200px;
}

.subhead1{
    display: flex;
}
.subhead{
    text-align: center;
}
.figurative{
    display: flex;
    align-items: space-around ;
} 

.sociallinks{
    /* display: flex; */
    /* text-align: space-between;
    margin: 50px; */
    /* background-color: #333; */
  /* color: white; */
  /* padding: 20px; */
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.social{
    /* margin-right: 50px; */
    /* display: grid; */
  /* justify-content: center;
  gap: 15px; */
}

.sociallinks a {
  text-decoration: none;
  /* justify-content: center; */
  /* gap: 15px; */
}